body {
    margin-left: 100px;
    margin-right: 100px;
}

div {
    display: flex;
    justify-content: center;
    font-family: Arial;
}

svg text {
    font-family: Arial;
}

svg circle {
    fill: #ff8700ff;
}